@model ImageCloud.Models.ImageViewModel

@{
    ViewBag.Title = "UploadImage";
}




<div class="form-horizontal">
    <h4>Download new Image</h4>
    <hr />


    @using (Html.BeginForm("UploadImage", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h6>Введите название</h6>
        @Html.TextBoxFor(m => m.ImageName, new { type = "text" }) <br />
        <br />
        @Html.TextBox("file","", new { type = "file" }) <br />
        <input type="submit" value="Загрузить" />
    }

</div>

<hr/>
<h5>
    @Html.ActionLink("Back to Image List", "Index")
</h5>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
